<!DOCTYPE html>
<html>
  <head><meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medical App</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <meta charset="utf-8" />
    <link rel="stylesheet" href="./globals.css" />
    <link rel="stylesheet" href="./style.css">
  </head>
  <body>
    <div class="macbook-air">
      <div class="div">
        <img class="image" src="img/image-1.png" />
        <div class="overlap">
          <div class="group">
            <div class="overlap-group">
              <div class="group-wrapper">
                <div class="group-2">
                  <div class="group-3"></div>
                  <div class="overlap-group-wrapper">
                    <div class="div-wrapper"><div class="text-wrapper">Username</div></div>
                  </div>
                  <div class="overlap-wrapper">
                    <div class="div-wrapper"><div class="text-wrapper">Password</div></div>
                  </div>
                </div>
              </div>
              <div class="group-4">
                <div class="group-5">
                  <div class="overlap-group-2"><div class="text-wrapper-2">LOGIN</div></div>
                </div>
              </div>
            </div>
          </div>
          <div class="text-wrapper-3">Forgot Password?</div>
        </div>
        <div class="text-wrapper-4">Health Code Medical Archive</div>
      </div>
    </div>
  </body>
</html>
