<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medical App</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 class="mt-5">Welcome to the Health Code Medical Archive</h1>
        <!-- Use url_for to generate the correct URL -->
        <p class="mt-3"><a href="{{ url_for('login') }}" class="btn btn-primary">LOGIN</a></p>
    </div>
</body>
</html>
